<div class="container">
  <div class="row mt-4 ">
    <div class="col-md-3  col-sm-6 mb-3"
         *ngFor="let event of eventsList | paginate: { itemsPerPage: 4, currentPage: p}">
      <div class="card">
        <img [src]="imageUrl" class="card-img-top" height="140" width="70" alt="Card image cap">
        <div class="card-body">

          <h5 class="card-title">{{event.title}}</h5>
          <p class="card-text">{{event.description}}</p>
          <div style="text-align: center">
            <button class="btn btn-sm btn-primary" (click)="detailEvent(event)">Voir</button> &nbsp;

            <button class="btn btn-sm btn-danger" *ngIf="authService.hasRole('PARTICIPANT')" (click)="cancelEvent(event)">
              Cancel
            </button>&nbsp;&nbsp;

            <button class="btn btn-sm btn-danger" *ngIf="authService.hasRole('ORGANIZER')" (click)="deleteEvent(event)">
              Supprimer
            </button>&nbsp;&nbsp;
            <button class="btn btn-sm btn-info" *ngIf="authService.hasRole('ORGANIZER')" (click)="updateEvent(event)">
              Modifier
            </button>
          </div>
        </div>
        <button class="btn btn-sm btn-outline-success" *ngIf="authService.hasRole('ORGANIZER')"
                (click)="getParticipants(event)">Personnes inscriptions
        </button>
      </div>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

