<div class="container-fluid">
  <table class="table mt-4">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
      <th scope="col">Handle</th>
      <th scope="col">Handle</th>
      <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>mdo</td>
      <td>mdo</td>
      <td>mdo</td>
      <td> <a  href="" class="btn btn-success"> + </a>  &nbsp; <a  href="" class="btn btn-danger"> - </a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <t>Jacob</t>
      <td>Thornton</td>
      <td>fat</td>
      <td>fat</td>
      <td>fat</td>
      <td> <a  href="" class="btn btn-success"> + </a>  &nbsp; <a  href="" class="btn btn-danger"> - </a></td>
    </tr>
    </tbody>
  </table>
</div>
