<div class="row">
  <div class="col-md-3  col-sm-6 mb-3 m-4" *ngIf="eventDetail">
    <div class="card">
      <img [src]="imageUrl" class="card-img-top" height="150px" width="300px" alt="Card image cap">
      <div class="card-body">

        <h3 class="card-title">{{eventDetail.title}}</h3>
        <p class="card-text">{{eventDetail.description}}</p>
        <p class="card-text">Lieu : {{eventDetail.place}}</p>
        <p class="card-text">Date : {{castDate(eventDetail.startEventDate)}}</p>
        <button class="btn-primary btn btn-sm" (click)="back()"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;
          back
        </button>

      </div>
    </div>
  </div>
</div>
