<div class="container">
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner mt-4">
      <div class="carousel-item active" data-bs-interval="1000">
        <img src="assets/carousel9.jpg" height="600" width="600" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>WEB-ATRIO</h1>
          <h3> Il vaut mieux tard que jamais.</h3>
        </div>
      </div>
      <div class="carousel-item" >
        <img src="assets/carousel8.jpg" height="600" width="400" class="d-block w-100" alt="WEB-ATRIO">
        <div class="carousel-caption d-none d-md-block">
          <h1>EVENEMENT</h1>
          <h3> Le voyage de mille lieues commence par un seul pas.</h3>
        </div>
      </div>
      <div class="carousel-item" >
        <img src="assets/carousel7.jpg" height="600" width="400" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>INSCRIVEZ-VOUS</h1>
          <h3> La gratitude est le sentiment qui ouvre tous les autres.</h3>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button"  data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

